/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
 * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #2C2C2C !important;
  background-color: #E2E2E2 !important;
}
// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/header";
@import "partials/footer";
@import "partials/banner";
@import "partials/top-card";
@import "partials/bottom-card";
@import "partials/gallery";
@import "partials/resources";

// Pages
@import "pages/home";
@import "pages/events";