/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #2C2C2C !important;
  background-color: #E2E2E2 !important;
}

/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"), url("fonts/font-name.woff") format("woff"), url("fonts/font-name.ttf") format("truetype"), url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * partials/header
 * ---
 */
.custom-nav {
  background-image: linear-gradient(to right, rgba(85, 101, 166, 0.3), #5565a6);
  height: 55px;
  padding: 0;
}
.custom-nav button {
  background-color: #ABBAF7;
}
.custom-nav .container-fluid > .navbar-collapse > .navbar-nav > .menu-item > .nav-link {
  font-size: 1.6rem;
}
.custom-nav li {
  background-color: #ABBAF7;
  border-top: 1px solid #999999;
  padding-left: 5px;
}

.custom-logo {
  height: 40px;
  width: auto;
}

.small {
  display: block;
}

.large {
  display: none;
}

@media only screen and (min-width: 768px) {
  .custom-nav li {
    background-color: transparent;
    border: none;
  }
  .custom-nav li:nth-last-child(1) {
    background-color: #F26B3A;
    border-radius: 35px;
    height: 40px;
    align-self: center;
    padding-left: 1vw;
  }
  .custom-nav li:nth-last-child(n-1) {
    padding-right: 1rem;
  }
  .custom-nav .small {
    display: none;
  }
  .custom-nav .large {
    display: block;
  }
  .custom-nav .container-fluid > .navbar-collapse > .navbar-nav > .menu-item > .nav-link {
    color: #fff;
    padding: 0 1vw;
  }
}
/**
 * partials/footer
 * ---
 */
.footer {
  width: 100%;
  height: 300px;
  background-color: #5565A6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer h1, .footer h2 {
  font-size: 16px;
}
.footer .footer-align {
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.footer .footer-info {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.footer .copyright {
  color: white;
}
.footer .social {
  color: white;
}
@media screen and (min-width: 992px) {
  .footer {
    height: 150px;
  }
  .footer h1, .footer h2 {
    padding: 0px 6px;
  }
  .footer .copyright {
    width: 374px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .footer .icon-width {
    width: 374px;
  }
  .footer .footer-align {
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    max-width: 1400px;
  }
  .footer .footer-info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer br {
    display: none;
  }
  .footer .center {
    display: flex;
    flex-direction: row;
  }
}

/**
 * partials/banner
 * ---
 */
.banner {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.darken-photo {
  position: relative;
  background-color: #777777;
}
.darken-photo:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}
.darken-photo h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 50;
  font-size: 3rem;
  text-align: center;
  color: white;
  top: 40%;
  position: relative;
  z-index: 1;
}
.darken-photo p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 50;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

/**
 * partials/top-card
 * ---
 */
.card-event {
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-event {
  border-radius: 35px 35px 0 0;
  max-height: 250px;
  width: auto;
}

.card-body {
  text-align: center;
}

/**
 * partials/bottom-card
 * ---
 */
.card-past-event {
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-position: center;
  background-size: cover;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.card-past-event:hover {
  text-decoration: none;
}

.card-past-body {
  text-align: center;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.5);
}
.card-past-body:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: ease 1s;
}

.link {
  color: #2C2C2C;
}

/**
 * partials/gallery
 * ---
 */
.list-photo {
  list-style-type: none;
}
.list-photo img {
  border-radius: 35px;
  display: block;
  margin: auto;
}

/**
 * partials/resources
 * ---
 */
.cssmenu {
  width: 65vw;
  font-family: Roboto, Helvetica, sans-serif;
  color: #2c2c2c;
}
.cssmenu i {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.cssmenu ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}
.cssmenu ul li {
  position: relative;
  display: block;
}
.cssmenu ul > li > h4 {
  display: block;
  text-decoration: none;
  position: relative;
  margin: 0;
}
.cssmenu ul > li > ul > li:last-child > h4 {
  border-radius: 0 0 15px 15px;
}
.cssmenu ul a {
  text-decoration: none;
  color: #2c2c2c;
}
.cssmenu ul > li > ul > li > ul:nth-child(even) {
  background-color: #e1e1e2;
}
.cssmenu ul > a > li > p {
  padding-left: 30px;
  margin: 0;
}
.cssmenu > ul {
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
}
.cssmenu > ul > li.active > h4 {
  color: #777777;
}
.cssmenu > ul > li > h4 {
  padding: 12px 0;
  transition: all 0.3s ease-out;
  font-size: 22px;
  text-align: center;
}
.cssmenu .brochure {
  background-color: #F26B3A;
}
.cssmenu .document {
  background-color: #FFC151;
}
.cssmenu .link {
  background-color: #5565A6;
}
.cssmenu > ul > li:first-child > h4 {
  border-radius: 15px 15px 0 0;
  color: #ffffff;
  font-weight: bold;
  text-shadow: #2c2c2c;
}
.cssmenu > ul > li:nth-child(2) > h4 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: #2c2c2c;
}
.cssmenu > ul > li:last-child > h4 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 1px 5px #2c2c2c;
}
.cssmenu .curves {
  border-radius: 0 0 15px 15px;
}
.cssmenu ul > li h5 {
  padding: 12px 0px 5px 25px;
  transition: all 0.3s ease-out;
  font-size: 18px;
}
.cssmenu ul ul li.active > h4 {
  background-color: #f2f2f2;
}
.cssmenu ul ul li.has-sub > h4::after {
  content: "";
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #777777;
  right: 15px;
  top: 15px;
  transition: all 0.25s ease;
  transform-origin: 0 25%;
}
.cssmenu ul ul li.has-sub.active > h4::after {
  transform: rotateX(180deg);
  border-top-color: #777777;
}
.cssmenu ul ul li:hover > h4::after {
  border-top-color: #777777;
}
.cssmenu ul > li > ul > li > h4 {
  padding: 10px 15px;
  font-size: 20px;
  transition: all 0.3s ease-out;
  font-weight: bold;
}
.cssmenu ul ul ul li h4 {
  padding-left: 25px;
}

@media only screen and (max-width: 768px) {
  .full {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .small {
    display: none;
  }

  .cssmenu > ul > li:first-child > h4 {
    border-radius: 15px;
  }
}
.page-home .carousel-wrapper {
  overflow: hidden;
  width: 100%;
}
.page-home .carousel-wrapper * {
  box-sizing: border-box;
}
.page-home .carousel {
  transform-style: preserve-3d;
}
.page-home .carousel__photo {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1180px;
  margin: auto;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}
.page-home .carousel__photo.initial,
.page-home .carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}
.page-home .carousel__photo.prev,
.page-home .carousel__photo.next {
  z-index: 800;
}
.page-home .carousel__photo.prev {
  transform: translateX(-100%);
  /* Move 'prev' item to the left */
}
.page-home .carousel__photo.next {
  transform: translateX(100%);
  /* Move 'next' item to the right */
}
.page-home .carousel__button--prev,
.page-home .carousel__button--next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  /* Sit on top of everything */
  border: 1px solid black;
}
.page-home .carousel__button--prev {
  left: 0;
}
.page-home .carousel__button--next {
  right: 0;
}
.page-home .carousel__button--prev::after,
.page-home .carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.page-home .carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.page-home .overlay {
  position: fixed;
  z-index: 1000;
  opacity: 0.7;
  background-color: black;
  height: 100%;
  width: 100%;
  max-width: 1180px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-home .content-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 2rem 0;
  text-align: center;
}
.page-home .title {
  z-index: 1001;
  color: #FFC151;
}
.page-home .facts-ask {
  z-index: 1001;
  color: #FFC151;
}
.page-home .facts {
  z-index: 1001;
  color: #FFC151;
  width: 50%;
}
.page-home .slogan {
  z-index: 1001;
  color: #FFC151;
  width: 50%;
}
.page-home .box {
  min-height: 300px;
  background-color: #EFEFF2;
  border-radius: 50px;
  padding: 0px;
  margin-bottom: 3rem;
}
.page-home .team-photo {
  max-width: 100%;
  height: inherit;
  border-radius: 50px;
  overflow: hidden;
}
.page-home .box h2, .page-home p {
  text-align: center;
  margin-top: 1rem;
  padding: 0 1.5rem;
}
.page-home .box-two {
  background-color: #BED563;
}
.page-home .box-three {
  background-color: #F26B3A;
}
.page-home .box-four {
  background-color: #FFC151;
}
@media screen and (min-width: 576px) {
  .page-home p {
    padding: 0 2.5rem;
  }
  .page-home .squares-container {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-home .box {
    max-width: 300px;
    height: 365px;
    overflow: scroll;
  }
  .page-home .home-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .page-home .squares-container {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-home .box {
    max-width: 300px;
    height: 365px;
    overflow: scroll;
  }
  .page-home .home-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 722px) {
  .page-home h1 {
    font-size: 1.5rem;
  }
  .page-home h2 {
    font-size: 1rem;
  }
  .page-home h3 {
    font-size: 0.5rem;
  }
  .page-home .facts {
    z-index: 1001;
    color: #FFC151;
    width: 50%;
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 599px) {
  .page-home h1 {
    font-size: 1rem;
  }
  .page-home h2 {
    font-size: 0.75rem;
  }
  .page-home h3 {
    font-size: 0.5rem;
  }
  .page-home .facts {
    z-index: 1001;
    color: #FFC151;
    width: 50%;
    font-size: 0.5rem;
  }
}

.gallery--title {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
