/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #2C2C2C !important;
}

/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"), url("fonts/font-name.woff") format("woff"), url("fonts/font-name.ttf") format("truetype"), url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * partials/header
 * ---
 */
.header {
  width: 100%;
  height: 75px;
  background-color: mediumaquamarine;
}

/**
 * partials/footer
 * ---
 */
.footer {
  width: 100%;
  height: 200px;
  background-color: tomato;
}

/**
 * partials/banner
 * ---
 */
.banner {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.darken-photo {
  position: relative;
}
.darken-photo:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}
.darken-photo h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 50;
  font-size: 3rem;
  text-align: center;
  color: white;
  top: 40%;
  position: relative;
  z-index: 1;
}
.darken-photo p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 50;
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
}

/**
 * partials/top-card
 * ---
 */
.card-event {
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-event {
  border-radius: 35px 35px 0 0;
  max-height: 250px;
  width: auto;
}

.card-body {
  text-align: center;
}

/**
 * partials/bottom-card
 * ---
 */
.card-past-event {
  border-radius: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-position: center;
  background-size: cover;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.card-past-event:hover {
  text-decoration: none;
}

.card-past-body {
  text-align: center;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.5);
}
.card-past-body:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: ease 1s;
}

.link {
  color: #2C2C2C;
}

/**
 * partials/gallery
 * ---
 */
.list-photo {
  list-style-type: none;
}
.list-photo img {
  border-radius: 35px;
  display: block;
  margin: auto;
}

.cssmenu {
  width: 250px;
  font-family: Roboto, Helvetica, sans-serif;
}
.cssmenu ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}
.cssmenu ul li {
  position: relative;
  display: block;
}
.cssmenu ul li h4 {
  display: block;
  text-decoration: none;
  position: relative;
  margin: 0;
}
.cssmenu > ul {
  border: 1px solid #2c2c2c;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.cssmenu > ul > li {
  border-bottom: 1px solid #2c2c2c;
}
.cssmenu > ul > li:last-child {
  border-radius: 15px;
}
.cssmenu > ul > li.active > h4 {
  color: #777777;
  background-color: #e6e6e6;
}
.cssmenu > ul > li > h4 {
  padding: 12px 0;
  color: #888888;
  transition: all 0.3s ease-out;
  font-size: 18px;
  text-align: center;
}
.cssmenu > ul > li:first-child > h4 {
  border-radius: 15px 15px 0 0;
}
.cssmenu > ul > li:last-child > h4 {
  border-radius: 0 0 15px 15px;
}
.cssmenu > ul > li > h4:hover {
  color: #777777;
  background-color: #e6e6e6;
}
.cssmenu ul ul li > h5 {
  padding: 12px 0px 0px 25px;
  color: #888888;
  transition: all 0.3s ease-out;
  font-size: 14px;
}
.cssmenu ul ul li.active > h4 {
  background-color: #f2f2f2;
  color: #777777;
}
.cssmenu ul ul li.has-sub > h4::after {
  content: "";
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #2c2c2c;
  right: 15px;
  top: 15px;
  transition: all 0.25s ease;
  transform-origin: 0 25%;
}
.cssmenu ul ul li.has-sub.active > h4::after {
  transform: rotateX(180deg);
  border-top-color: #2c2c2c;
}
.cssmenu ul ul li:hover > h4::after {
  border-top-color: #2c2c2c;
}
.cssmenu ul ul li h4 {
  padding: 10px 15px;
  font-size: 14px;
  color: #888888;
  transition: all 0.3s ease-out;
  font-weight: bold;
}
.cssmenu ul ul li h4:hover {
  background-color: #f2f2f2;
  color: #777777;
}
.cssmenu ul ul ul li h4 {
  padding-left: 25px;
}

body {
  background-color: #EFEFF2;
}

.gallery--title {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
