/**
 * partials/banner
 * ---
 */
  
  .banner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
  
  .darken-photo {
    position: relative;
  }
  
  .darken-photo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .darken-photo h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 50;
    font-size: 3rem;
    text-align: center;
    color: white;
    padding-top: 10rem;
    position: relative;
    z-index: 1;
  }