/**
 * partials/bottom-card
 * ---
 */

.card-past-event {
    border-radius: 35px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: center;
    background-size: cover;
    text-decoration: none;
    height: 100%;
    width: 100%;
    max-width: 350px;
    &:hover {
        transition: ease .3s;
        transform: scale(1.10);
    }
}   

.card-past-body {
    text-align: center;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.6); 
    width: 100%;
    height: 100%;
    min-height: 150px;
}
div > div > a {
    width: 100%;
    height: 100%;
    color: #2C2C2C;
    &:hover {
        color: #2c2c2c;
        text-decoration: none;
        transition: ease .7s;
        transform: none;
    }
}