/**
 * partials/bottom-card
 * ---
 */

.card-past-event {
    border-radius: 35px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: center;
    background-size: cover;
    text-decoration: none;
    height: 100%;
    width: 100%;
    &:hover {
        text-decoration: none;
    }
}   

.card-past-body {
    text-align: center;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    transition: ease .7s;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: ease .7s;
    }
}
div > div > a {
    width: 100%;
}
a:hover {
    text-decoration: none;
}

.link {
    color: #2C2C2C;
}