/**
 * partials/footer
 * ---
 */


.footer {
  width: 100%;
  height: 300px;
  background-color: #5565A6;

  .footer-align{
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  .footer-info{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .copyright{
    color: white;
  }
  .social {
    color: white;
  }

  @media screen and (min-width: 992px) {
    .footer-align{
      height: 250px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      background-color: midnightblue;
    }
    .footer-info{
      width: 700px;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      background-color: tomato;
    }
    br{
      display: none;
    }
  }
}