/*
 * partials/header
*/

// Header container
.header {
  overflow: hidden;
}

.custom-nav {
  background-image: linear-gradient(to right, rgba(85, 101, 166, .4), rgba(85, 101, 166, 1));
  z-index: 1;

  button {
    background-color: #ABBAF7;
    float: right;
  }

  .navbar-collapse > .navbar-nav > .menu-item > .nav-link {
    font-size: 1.2rem;
    margin-top: 6px;
  }

  ul {
    overflow: auto;
    margin: 0 -16px -8px -16px;
  }

  li {
    background-color: #ABBAF7;
    border-top: 1px solid #999999;
    padding-left: 25px;
  }
}

.custom-logo {
  padding-left: 10px;
  height: 34px;
  width: auto;
}

.small {
  display: block;
}

.large {
  display: none;
}



// Mobile friendly hamburger menu with small logo ability to change
@media only screen and (min-width: 768px) {
  .custom-nav {

    ul {
      border: none;
      margin: 0;
    }

    li {
      background-color: transparent;
      border: none;
      padding-left: 0;

      &:nth-last-child(1) {
        background-color: #F26B3A;
        border-radius: 35px;
        height: 40px;
        align-self: center;
        padding-left: 1vw;
      }

      &:nth-last-child(n-1) {
        padding-right: 1vw;
      }
    }

    .custom-logo {
      padding-left: 0px;
    }

    .small {
      display: none;
    }

    .large {
      display: block;
    }

    .margin-left {
      margin-left: auto;
    }

    .navbar-collapse > .navbar-nav > .menu-item > .nav-link {
      color: #ffffff;
      padding: 0 .8vw;
      margin-top: 8px;
    }
  } 
}