/*
 * partials/header
*/

// Header container
.custom-nav {
  background-image: linear-gradient(to right, rgba(85, 101, 166, .3), rgba(85, 101, 166, 1));
  height: 55px;
  padding: 0;


  button {
    background-color: #ABBAF7;
  }

  .container-fluid > .navbar-collapse > .navbar-nav > .menu-item > .nav-link {
    font-size: 1.2rem;
    margin-top: 6px;
  }

  li {
    background-color: #ABBAF7;
    border-top: 1px solid #999999;
    padding-left: 10px;
  }
}

.custom-logo {
  padding-left: 10px;
  height: 34px;
  width: auto;
}

.small {
  display: block;
}

.large {
  display: none;
}

// Mobile friendly hamburger menu with small logo ability to change
@media only screen and (min-width: 768px) {
  .custom-nav {

    li {
      background-color: transparent;
      border: none;

      &:nth-last-child(1) {
        background-color: #F26B3A;
        border-radius: 35px;
        height: 40px;
        align-self: center;
        padding-left: 1vw;
      }

      &:nth-last-child(n-1) {
        padding-right: 1vw;
      }
    }

    .custom-logo {
      padding-left: 0px;
    }

    .small {
      display: none;
    }

    .large {
      display: block;
    }
  
    .container-fluid>.navbar-collapse>.navbar-nav>.menu-item>.nav-link {
      color: #fff;
      padding: 0 .8vw;
    }
  } 
}