/*
 * partials/header
*/

// Header container
.header {
  display: inherit;
}

.custom-nav {
  z-index: 1;

  button {
    border: none;
    margin-left: auto;
  }

  .navbar-collapse > .navbar-nav > .menu-item > .nav-link {
    font-size: 1.1rem;
  }
  li {
    display: inline-table;
    padding: 0 15px;
    width: 136px;
    text-align: center;
    border-radius: 25px;
    line-height: .7;
    margin: 2px 0;
    a {
      color: #ffffff !important;
      text-shadow: 2px 2px 3px #000000;
    }

    &:nth-child(1) {
      background-color: #F26B3A;
    }
    &:nth-child(2) {
      background-color: #FFC151;
    }
    &:nth-child(3) {
      background-color: #5565A6;
    }
    &:nth-child(4) {
      background-color: #BED563;
    }
    &:nth-child(5) {
      background-color: #F26B3A;
    }
    &:nth-child(6) {
      background-color: #FFC151;
    }
    &:nth-child(7) {
      background-color: #5565A6;
    }
    &:nth-child(4) {
      background-color: #BED563;
    }
  }
}

.custom-logo-small {
  display: block;
  height: auto;
  width: 50vw;
  margin: 4px 0;
  
  & > a > img {
    width: 100%;
    height: auto;
  }
}
.custom-logo-big {
  display: none;
}

.small {
  display: block;
}

.large {
  display: none;
}

// Mobile friendly hamburger menu with small logo ability to change
@media only screen and (min-width: 768px) {
  .header {
    display: grid;
    justify-items: center;
  }
  .custom-logo-small {
    display: none;
  }
  .custom-logo-big {
    display: block;
    width: 40vw;

    & > a > img {
      width: 100%;
      height: auto;
    }
  }
  .custom-nav {

    ul {
      border: none;
      margin: 0;
    }

    li {
      border: none;
      padding: 0 15px 3px 15px;
      margin: 0 10px;
      line-height: 1.5;
      border-radius: 15px;
      text-shadow: 2px 2px 3px #000000;
    }

    .small {
      display: none;
    }

    .large {
      display: block;
    }

    .navbar-collapse > .navbar-nav > .menu-item > .nav-link {
      color: #ffffff;
      padding: 0 .8vw;
    }
  } 
}