// Variables
$color-gold: #FFC151;
$color-orange: #F26B3A;
$color-limeGreen: #BED563;

.page-home{
  background-color: #5565A6;
  
  // --------------------- Home Content styles --------------------
  .grid-container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "heading-top-1 heading-top-2"
                         "img-events img-resources";
    column-gap: 6rem;

    .heading-top-1 {
      padding: 2rem 0;
      text-align: center;
      color: #FFFFFF;
      grid-area: heading-top-1;
    }
    .heading-top-2 {
      padding: 2rem 0;
      text-align: center;
      color: #FFFFFF;
      grid-area: heading-top-2;
    }
    .grid-img {
      position: relative;
      > img {
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 35px;
        object-fit: cover;

      }
    }
    .heading-space {
      position: absolute;
      background-color:  rgba(255, 255, 255, 0.6);
      width: 100%;
      height: 3rem;
      text-align: center;
      border-radius: 35px 35px 0 0;
    }
    .events {
      grid-area: img-events;
    }
    .resources {
      grid-area: img-resources;
    }    
  }

  .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "heading heading"
                         "box-one box-two"
                         "box-three box-four";
    gap: 2rem;

    .heading-main {
      grid-area: heading;
      justify-self: center;
      color: #FFFFFF;
    }
    .grid-box {
      border-radius: 35px;
      text-align: center;
      text-shadow: 2px 2px 15px #fff;
    }
    .box-one {
      width: 100%;
      grid-area: box-one;
      padding: 0;
    }
    .box-two {
      grid-area: box-two;
      background-color: $color-limeGreen;
      padding: 20px;
    }
    .box-three {
      grid-area: box-three;
      background-color: $color-orange;
      padding: 20px;
    }
    .box-four {
      grid-area: box-four;
      background-color: $color-gold;
      padding: 20px;
      .donate-button {
        background-color: $color-orange;
        border-radius: 35px;
        font-size: 1.2rem;
        border: none;
        color: #ffffff;
        padding: 8px 30px;
      }
    }
  }
  .mov {
    display: none;
  }
  .placeholder {
    display: block;
  }
  
  @media screen and (min-width: 576px) {
    .logo-title {
      height: 8rem;
    }
  }

  @media screen and (min-width: 768px) {
    .logo-title {
      height: 9rem;
    }
    .carousel-heading h2 {
      font-size: 2rem;
    }
    .grid-container-2 h1 {
      font-size: 2.5rem;
    }
    .carousel-inner > .carousel-item > .carousel-caption > p {
      margin-bottom: 7rem;
      font-size: 1.3rem;
    }
  }

  @media screen and (min-width: 992px) {
    .logo-title {
      height: 10rem;
    }
    .carousel-heading h2 {
      font-size: 2.5rem;
    }
    .carousel-inner > .carousel-item > .carousel-caption > p {
      margin-bottom: 9rem;
      font-size: 1.4rem;
    }
  }

  @media screen and (max-width: 576px) {
    section > div > h1{
      font-size: 2rem;
    }
    .bg-pulse {
      display: none;
    }
    .carousel-inner > .carousel-item > img {
      min-height: 40vh;
    }
    .carousel-inner > .placeholder > img {
      height: 40vh;
    }
    .carousel{
      &__button--prev,
      &__button--next {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .carousel-inner > .carousel-item > img {
      min-height: 50vh;
      border-radius: 25px;
    }
    .carousel-inner > .placeholder > img {
      min-height: 40vh;
    }
    .grid-container-1 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "heading-top-1"
                           "img-events"
                           "heading-top-2"
                           "img-resources";
    }
    .grid-container-2 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto);
      grid-template-areas: "heading"
                           "box-one"
                           "box-two"
                           "box-three"
                           "box-four";
    }
    h1{
      font-size: 2rem;
      text-align: center;
    }
  }
} 
// --------------------- /End Home Content styles --------------------

// --------------------- Bubble Animations ---------------------------

.bg-pulse{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding: 0;
}
.bg-pulse li{ 
  position:absolute;
  list-style-type:none;
  width:20px;
  height:20px;
  background:rgba(255,255,255,.2);
  animation: animate 25s linear infinite;
  bottom:-150px;
}
.bg-pulse li:nth-child(1){
  left:25%;
  width:80px;
  height:80px;
  animation-delay:0;
}
.bg-pulse li:nth-child(2){
  left:10%;
  width:20px;
  height:20px;
  animation-delay:2s;
  animation-duration:12s;
}
.bg-pulse li:nth-child(3){
  left:70%;
  width:20px;
  height:20px;
  animation-delay:4s;
}
.bg-pulse li:nth-child(4){
  left:40%;
  width:60px;
  height:60px;
  animation-delay:0s;
  animation-duration:18s;
}
.bg-pulse li:nth-child(5){
  left:65%;
  width:20px;
  height:20px;
  animation-delay:0s;
}
.bg-pulse li:nth-child(6){
  left:75%;
  width:110px;
  height:110px;
  animation-delay:3s;
}
.bg-pulse li:nth-child(7){
  left:35%;
  width:150px;
  height:150px;
  animation-delay:7s;
}
.bg-pulse li:nth-child(8){
  left:50%;
  width:25px;
  height:25px;
  animation-delay:15s;
    animation-duration:45s;
}
.bg-pulse li:nth-child(9){
  left:20%;
  width:15px;
  height:15px;
  animation-delay:0s;
  animation-duration:35s;
}
.bg-pulse li:nth-child(10){
  left:85%;
  width:50px;
  height:50px;
  animation-delay:0;
  animation-duration:11s;
}

@keyframes animate{
  0%{
    transform:translateY(180vh) rotate(0deg);
    opacity:0.85;
    border-radius:0;
  }
  100%{
    transform:translateY(-600px) rotate(720deg);
    opacity:0;
    border-radius:100%;
  }
}