//Empty scss in anticpation for page-home.php

.page-home{
  overflow: hidden;
  // --------------------- Carousel Styles -----------------
  .carousel-wrapper {
      overflow: hidden;
      width: 100vw;
  }

  .carousel-wrapper * {
      box-sizing: border-box;
  }
    
  .carousel {
      transform-style: preserve-3d;
      overflow: hidden;

    &__photo {
        opacity: 0;
        position: absolute;
        top:0;
        width: 100%;
        margin: auto;
        z-index: 100;
        transition: transform .5s, opacity .5s, z-index .5s;
    }

    &__photo.initial,
    &__photo.active {
      opacity: 1;
      position: relative;
      z-index: 900;
    }

    &__photo.prev,
    &__photo.next {
      z-index: 800;
    }
    &__photo.prev {
      transform: translateX(-100%); /* Move 'prev' item to the left */
    }
    &__photo.next {
      transform: translateX(100%); /* Move 'next' item to the right */
    }

    // --------------------- Carousel Button Styles -----------------

    &__button--prev,
    &__button--next {
      position: absolute;
      top:50%;
      width: 3rem;
      height: 3rem;
      background-color: #FFF;
      transform: translateY(-50%);
      border-radius: 50%;
      cursor: pointer; 
      z-index: 1001; /* Sit on top of everything */
      border: 1px solid black;
    }
    &__button--prev {
      left: 15px;
    }
    &__button--next {
      right: 15px;
    }
    &__button--prev::after,
    &__button--next::after {
      content: " ";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      left: 54%;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      transform: translate(-50%, -50%) rotate(135deg);
    }
    &__button--next::after {
      left: 47%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  // Carousel Text and Overlay

  .overlay {
    position: fixed;
    z-index: 1000;
    opacity: .7;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  .logo-title {
    height: 3.5rem;
  }
  .content-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  .title {
    z-index: 1001;
    color: #FFC151;
  }
  .facts-ask {
    z-index: 1001;
    color: #FFC151;
  }
  .facts {
    z-index: 1001;
    color: #FFC151;
    width: 50%;
  }
  .slogan {
    z-index: 1001;
    color: #FFC151;
    width: 50%;
  }
  // End of Carousel Text

  // Home Content styles

  .box {
    min-height: 300px;
    background-color: #EFEFF2;
    border-radius: 50px;
    padding: 0px;
    margin-bottom: 3rem;
  }
  .team-photo {
    max-width: 100%;
    height: inherit;
    border-radius: 50px;
    overflow: hidden;
  }
  .box h2, p {
    text-align: center;
    margin-top: 1rem;
    padding: 0 1.5rem;
  }
  .box-two {
    background-color: #BED563;
  }
  .box-three {
    background-color: #F26B3A;
  }
  .box-four {
    background-color: #FFC151;
  }
// Media Queries
  @media screen and (min-width: 576px) {
    p {
      padding: 0 2.5rem;
    }
    .squares-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .box {
      max-width: 300px;
      height: 365px;
      // overflow: scroll;
    }
    .home-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .logo-title {
      height: 4rem;
    }
    h2 {
      font-size: 1rem;
    }
  }

  @media screen and (min-width: 768px) {
    .squares-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .box{
      max-width: 500px;
    }
    .home-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .logo-title {
      height: 6rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }

  @media screen and (min-width: 992px) {
    .logo-title {
      height: 9rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 722px) {
      h1{
        font-size: 2rem;
      }
      h2 {
        font-size: 1rem;
      }
      h3 {
        font-size: .5rem;
      }
    .facts {
      z-index: 1001;
      color: #FFC151;
      width: 50%;
      font-size: .75rem;
    }
  }

  @media screen and (max-width: 576px) {
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: .7rem;
    }
    h3 {
      font-size: .5rem;
    }
    .facts {
      z-index: 1001;
      color: #FFC151;
      width: 50%;
      font-size: .5rem;
      }
    .carousel{
      &__button--prev,
      &__button--next {
        width: 2rem;
        height: 2rem;
      }
    }
  }
} 